body {
  background-color: #FFFFFF;
  color: black !important;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-left: 75px;
  margin-right: 75px;
}

#markdown-editor {
  width: 100%;
  height: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  background-color: #1E1E1E;
  color: white;
  text-align: left;
  padding: 8px; /* Add padding if desired */
  border: none; /* Remove border if desired */
  resize: none; /* Disable resizing if desired */
}


code {
  background-color: #262626;
  color: white;
  font-family: Jetbrains Mono;
  padding-right: 50px;
  padding-left: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 4px;
  display: inline-block;
}


h1 {
  font-size: 32px;
  color: #2954d7;
  margin-bottom: -23px;
}

h2 {
  font-size: 26px;
  color: #2954d7;
  margin-top: 13px;
  margin-bottom: -23px;
}

h3 {
  font-size: 18px;
  color: #2954d7;
  margin-bottom: -13px;
  margin-top: 13px;
}

#preview text {
  color: red;
}

#preview {
  font-size: 17px;
  text-align: left;
  margin-left: 5px;
}

#preview a {
  /* For the user added links
  /* This will not change any links outside of the Markdown textarea. */

  color: #2954d7;
  font-weight: bold;
}


#icons {
  gap: 10px;
}