body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #1c1f23;
  color: white; /* This is just so that the font is visable */
}

textarea {
  width: 100%;
  height: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  background-color: #1E1E1E;
  color: white; /* Just to make sure that the textarea color is showing */
}

code {
  background-color: #262626;
  color: white;
  font-family: Jetbrains Mono;
  padding-right: 50px;
  padding-left: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 4px;
  display: inline-block;
}


h1 {
  font-size: 32px;
  color: #C292C8;
  margin-bottom: -23px;
}

h2 {
  font-size: 26px;
  color: #C292C8;
  margin-top: 13px;
  margin-bottom: -23px;
}

h3 {
  font-size: 18px;
  color: #C292C8;
  margin-bottom: -13px;
  margin-top: 13px;
}

#preview text {
  color: red;
}

#preview {
  font-size: 17px;
}

#preview a {
  /* For the user added links
  /* This will not change any links outside of the Markdown textarea. */

  color: #C292C8;
  font-weight: bold;
}